body 
{   
<<<<<<< HEAD
    color: #8c1d1d;     
    text-align: center;
    font-family: Arial, Helvetica, sans-serifs
=======
    color:rgb(22, 18, 22);     
    text-align: center;
    font-family:  "Arial";
    font-size: 16px;
>>>>>>> cabezota
    margin: 0;
    padding: 0;   

}

#cabezota
{
    background: #339;
    color:white
    
    padding: 0; 

}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid 
    


}

#cabezota 
{
    font-size: 20px;
    background-color: blue;

}
#post 
{
    padding: 1em;
}