body 
{   
    color: #8c1d1d;     
    text-align: center;
    font-family: Arial, Helvetica, sans-serifs
    margin: 0;
    padding: 0;   

}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid 
    margin: 0 auto;


}

#cabezota 
{
    background-color: blue;

}